:root {
  /*Colors*/
  --clr-accent-300: hsl(198, 100%, 50%);
  --clr-accent-400: hsl(198, 100%, 42%);
  --clr-accent-500: hsl(191, 100%, 33%);
  --clr-accent-700: hsl(191, 70%, 40%);

  --clr-panel-400: hsl(199, 13%, 33%);
  --clr-panel-500: hsl(199, 13%, 22%);
  --clr-panel-600: hsl(199, 13%, 18%);

  --clr-neutral-100: hsl(0, 0%, 99%);
  --clr-neutral-200: hsl(0, 0%, 80%);
  --clr-neutral-300: hsl(0, 0%, 66%);
  --clr-neutral-400: hsl(0, 0%, 50%);
  --clr-neutral-500: hsl(0, 0%, 33%);
  --clr-neutral-525: hsl(0, 0%, 27%);
  --clr-neutral-550: hsl(0, 0%, 20%);
  --clr-neutral-600: hsl(0, 0%, 17%);
  --clr-neutral-700: hsl(0, 0%, 11%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --clr-list-card: hsla(0, 0%, 0%, 0.22);
  --clr-list-card-hover: hsla(0, 0%, 0%, 0.44);
  --clr-past-due: hsl(0, 72%, 62%);
  --clr-priority: hsl(49, 100%, 50%);
  --clr-completed-task: var(--clr-accent-400);

  /*Font Family*/
  --ff-primary: Roboto, Arial, sans-serif;

  /*Font Weight*/
  --fw-reg: 400;
  --fw-bold: 700;

  /*Font Sizing*/

  --fs-200: clamp(0.63rem, calc(0.82rem + -0.16vw), 0.79rem);
  --fs-300: clamp(0.75rem, calc(0.9rem + 0.04vw), 0.95rem);
  --fs-400: clamp(0.9rem, calc(0.98rem + 0.13vw), 1.13rem);
  --fs-500: clamp(1.13rem, calc(1.05rem + 0.37vw), 1.5rem);
  --fs-600: clamp(1.27rem, calc(1.12rem + 0.73vw), 2rem);
  --fs-700: clamp(1.42rem, calc(1.18rem + 1.24vw), 2.66rem);
  --fs-800: clamp(1.6rem, calc(1.21rem + 1.95vw), 3.55rem);
  --fs-900: clamp(1.8rem, calc(1.22rem + 2.93vw), 4.74rem);

  /*Spacing*/

  /* One-up pairs */
  --spc-100: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
  --spc-200: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  --spc-300: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
  --spc-400: clamp(1rem, calc(0.86rem + 0.69vw), 1.69rem);
  --spc-500: clamp(1.5rem, calc(1.35rem + 0.75vw), 2.25rem);
  --spc-600: clamp(2rem, calc(1.73rem + 1.38vw), 3.38rem);
  --spc-700: clamp(3rem, calc(2.7rem + 1.5vw), 4.5rem);
  --spc-800: clamp(4rem, calc(3.45rem + 2.75vw), 6.75rem);

  /*Misc*/
  --border-radius: 8px;
  --color-picker-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  flex-direction: column;

  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  color: var(--clr-neutral-100);
}

.btn-hover-transition {
  filter: brightness(0.9);

  transition: 0.12s;
}

.btn-hover-transition:hover,
.btn-hover-transition:focus-within {
  filter: brightness(1.05);
  scale: 1.03;

  transition: 0.12s;
}

/***---HEADER---***/

header {
  position: relative;
  z-index: 1;
  background-color: var(--clr-panel-600);
}

.header-wrapper {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spc-300);
  box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.4);
}

.logo-container {
  display: flex;
  align-content: center;
  height: 5vh;
}

.hamburger-btn {
  display: none;
  color: var(--clr-accent-300);
  font-size: 2.5rem;
  transform-origin: left;
}

.hamburger-btn > i {
  position: relative;
  top: calc(var(--spc-100) * 0.25);
}

.login-btn {
  border-radius: var(--border-radius);
  padding-block: var(--spc-100);
  padding-inline: var(--spc-200);

  font-size: calc(var(--fs-500) * 0.9);
  font-weight: bold;
  letter-spacing: 1px;

  color: var(--clr-neutral-600);
  background-color: var(--clr-accent-300);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

/***---MAIN---***/

main {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, clamp(15rem, 20vw, 25rem)) 3fr;

  background-color: var(--clr-panel-400);
  height: 100%;
}

.title {
  font-size: var(--fs-500);
  font-weight: bold;
  letter-spacing: 0.66px;
  color: var(--clr-neutral-100);
}

input[type='text'],
input[type='search'],
textarea {
  padding: 0.33rem;
  padding-left: var(--spc-200);
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.35);
  color: var(--clr-neutral-100);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

/***---SIDEBAR---***/

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--spc-400);
  padding-inline: var(--spc-200);
  background-color: var(--clr-panel-500);
}

.list-sidebar {
  box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.2);
}

.active-todo-sidebar {
  box-shadow: -6px 0px 12px rgba(0, 0, 0, 0.15);
}

.sidebar input {
  width: 100%;
}

.preset-lists-container,
.list-container {
  display: flex;
  flex-direction: column;
  margin-block: var(--spc-200);

  width: 100%;
  gap: var(--spc-100);
}

.preset-list-card,
.list-card {
  display: flex;
  align-items: center;
  padding: calc(var(--spc-100) * 0.5);
  border-radius: var(--border-radius);
  background-color: var(--clr-list-card);
  color: var(--clr-neutral-200);
}

.preset-list-card:hover,
.list-card:hover {
  background-color: var(--clr-list-card-hover);
}

.list-sidebar button {
  background-color: rgba(255, 255, 255, 0);
  color: var(--clr-neutral-100);
}

.list-container {
  flex-grow: 1;
}

.lists-wrapper {
  height: 76vh;
  width: 100%;
  margin-block: var(--spc-200);
  padding-inline: var(--spc-200);
  overflow-y: auto;
}

.list-sidebar .swap-btn {
  text-align: left;
  padding-left: var(--spc-200);
  width: 100%;
}

.list-card {
  display: flex;
}

.list-card .total-tasks-wrapper {
  position: relative;

  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 99px;
  height: 1.2rem;
  aspect-ratio: 1 / 1;
}

.list-card .total-tasks {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-60%, -45%);

  color: var(--clr-neutral-400);
  font-weight: 900;
  font-size: calc(var(--fs-200) * 1.1);
  text-align: center;
  letter-spacing: -1px;
}

.list-card .delete-btn {
  padding-inline: var(--spc-100);
  color: var(--clr-neutral-400);
}

/***---ACTIVE LIST---***/

.active-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--spc-300);
}

.category-container {
  margin-bottom: var(--spc-500);
  width: clamp(15rem, 66vw, 50rem);
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spc-200);

  padding-block: calc(var(--spc-100) * 0.5);
  padding-inline: var(--spc-200);
  margin-block: var(--spc-200);

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.category-container .fa-angle-down {
  transition: transform 0.16s;
}

.category-container.hidden .fa-angle-down {
  transform: rotate(-90deg);

  transition: transform 0.16s;
}

.category-container.hidden .tasks {
  display: none;
}

.todo-container {
  isolation: isolate;
  flex-grow: 1;
  max-height: 80vh;
  overflow-y: auto;
  gap: var(--spc-300);
  padding-inline: var(--spc-200);
}

.complete-container,
.incomplete-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.complete-container > * {
  filter: brightness(0.8);
}

.complete-container .task-title {
  text-decoration: line-through;
}

.complete-container .past-due {
  color: var(--clr-neutral-300);
}

.todo-card:not([data-color='neutral']):before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.todo-card,
.step-card {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--spc-200);
  padding-block: var(--spc-100);

  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}

.todo-card:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.check-box {
  scale: 1.2;
  margin-right: var(--spc-200);
  color: var(--clr-neutral-200);
}

.complete-task {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--clr-completed-task);
}

.todo-card-task-wrapper {
  letter-spacing: 0.66px;
}

.task-details-wrapper {
  display: flex;
  font-size: var(--fs-300);
  gap: var(--spc-200);
  color: var(--clr-neutral-300);
  letter-spacing: 0.66px;
}

.past-due {
  color: var(--clr-past-due);
}

.priority {
  margin-left: auto;
  color: var(--clr-neutral-200);
}

.priority > .fa-solid {
  color: var(--clr-priority);
}

/*Todo Input*/

.todo-input {
  display: flex;
  gap: var(--spc-200);

  background-color: rgba(0, 0, 0, 0.33);
  padding: var(--spc-300);
  border-radius: var(--border-radius);
}

.todo-input > * {
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.33);
}

.input-wrapper {
  position: relative;
  width: clamp(13rem, 10rem + 33vw, 35rem);
  height: 2.5rem;
}

.input-wrapper > input {
  width: 100%;
  height: 100%;
}

.input-wrapper > .date-input-wrapper {
  position: absolute;
  right: 0;
  top: 0;

  border-radius: var(--border-radius);
}

.date-input-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 2.5rem;
}

.calendar-icon-wrapper {
  isolation: isolate;
  position: relative;
  height: 100%;
}

.calendar-icon-wrapper > img {
  display: none;
  height: 100%;
}

.calendar-icon-wrapper > img.active {
  display: block;
}

.calendar-icon-wrapper > .calendar-month,
.calendar-icon-wrapper > .calendar-day {
  z-index: 1;
  position: absolute;
  display: none;
  font-weight: bold;
  top: 50%;
  left: 50%;
}

.calendar-icon-wrapper:has(.calendar-no-grid.active) > .cal-date {
  display: block;
}

.calendar-icon-wrapper > .calendar-month {
  font-size: var(--fs-200);
  scale: 0.9;
  transform: translate(-50%, -115%);
}

.calendar-icon-wrapper > .calendar-day {
  color: black;
  transform: translate(-50%, -27%);
}

.hidden-date-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hidden-date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-selector {
  position: relative;
  height: 100%;
  width: 3.24rem;
}

.color-selector.no-selection {
  background-image: linear-gradient(
    to right,
    #f1a3bb,
    #f4c4a9,
    #f2ee8f,
    #96d470,
    #959fef,
    #ac68d7
  );
}

.color-selector:focus-within .color-selector-menu {
  display: grid;
}

.color-selector-menu {
  position: absolute;
  display: none;
  gap: var(--spc-100);
  left: 50%;
  transform: translate(calc(-50%), -115%);

  background-color: var(--clr-neutral-200);
  border-radius: var(--border-radius);
  padding: var(--spc-200);
}

.color-selector-menu::after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--clr-neutral-200)
    var(--clr-neutral-200);
  border-radius: 0px 0px 0px 4px;
}

.color-input-wrapper {
  display: flex;
  gap: var(--spc-100);
}

.color-input-wrapper > *,
.presets > *,
.color-selector-menu {
  box-shadow: var(--color-picker-shadow);
}

.color-input {
  width: calc(1.5rem * 2 + var(--spc-100));
  height: 1.5rem;

  border: 2px solid #ffffff;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.cancel-color {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ffffff;
  border-radius: var(--border-radius);
  color: red;
  font-size: 1.4rem;
}

.cancel-color > i {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.33));
}

.presets {
  display: flex;
  flex-wrap: wrap;
  width: calc((1.5rem + var(--spc-100)) * 3 - var(--spc-100));
  gap: var(--spc-100);
}

.preset {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: var(--border-radius);
}

/***---TODO DETAILS SIDEBAR---***/

.details-card {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}

.task-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spc-200);
  background-color: rgba(0, 0, 0, 0.3);
  padding: var(--spc-200);
  border-radius: var(--border-radius);
}

.task-wrapper {
  display: flex;
  align-items: center;
}

#active-steps-container {
  display: flex;
  flex-direction: column;

  gap: 0.25rem;
  padding-bottom: 0.5rem;
}

.step-delete-btn {
  margin-left: auto;
}

.settings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: var(--spc-200);
  padding-left: var(--spc-400);
  border-radius: var(--border-radius);
}

.settings-wrapper .date-input-wrapper,
.settings-wrapper .color-selector {
  margin-left: auto;
  border-radius: var(--border-radius);

  width: 2.5rem;
  aspect-ratio: 1 / 1;
}

#task-note {
  width: 100%;
  height: 20%;
  resize: vertical;
  background-color: rgba(0, 0, 0, 0.3);
}

.active-todo-sidebar #task-delete {
  margin-top: auto;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: var(--spc-200);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.active-todo-sidebar {
  position: absolute;
  width: clamp(15rem, 5rem + 15vw, 25rem);
  height: 100%;
  right: 0;

  display: none;
}

.active-todo-sidebar.active {
  display: flex;
  flex-direction: column;
  gap: var(--spc-200);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);

  display: none;
}

.overlay.active {
  display: block;
}

/***---FOOTER---***/

body {
  /* footer support */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

footer {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: var(--spacing-xs);
  padding-top: var(--spacing-xl);
  background-color: var(--clr-panel-600);
}

#copyright {
  font-size: 1.24rem;
  font-weight: 700;
  text-decoration-line: none;
  letter-spacing: 0.5px;
  color: var(--clr-neutral-300);
}

.fa-github {
  font-size: 1.38rem;
  transition: transform 0.4s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/***---SCROLLBAR---***/

/* WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar on horizontal containers */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Background color of the track */
  border-radius: var(--border-radius);
}

/* Thumb (the actual scroll handle) */
::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent-300); /* Background color of the thumb */
  border-radius: var(--border-radius);
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --clr-accent-500
  ); /* Background color of the thumb when hovered */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f0f0f0; /* Thumb color and track color */
}

/***---MEDIA QUERIES---***/

@media screen and (max-width: 37.5em) {
  .header-wrapper {
    padding-inline: var(--spc-600);
  }

  .logo-container {
    height: 4vh;
  }

  .hamburger-btn {
    display: block;
  }

  main {
    display: flex;
    justify-content: center;
  }

  .list-sidebar {
    z-index: 1;
    position: absolute;
    width: 17.5rem;
    height: 100%;
    left: 0;

    display: none;
  }

  .list-sidebar.active {
    display: flex;
  }

  .category-container {
    width: clamp(15rem, 90vw, 50rem);
  }
}
